table {
    .playing-now {
        background-color: rgba(115, 255, 0, 0.16);
    }
    tr:hover {
        background-color: rgba(115, 255, 0, 0.06);
    }
    tr.playing-now:hover {
        background-color: rgba(115, 255, 0, 0.22);
    }
}

.progress {
    cursor: pointer;
}
