{% load bootstrap_icons %}
{% for audioDocument in audioDocuments %}
    <tr>
        <th scope="row">{{ audioDocument.id }}</th>
        <td title="{{ audioDocument.original_file_name }}" class="list-document-name">{{ audioDocument.get_label }}</td>
        <td>{{ audioDocument.uploaded_at }}</td>
        <td>
            <a class="btn btn-sm m-1 btn-primary btn-rename-audio-document" data-id="{{ audioDocument.id }}"
               href="/rename-audio-document/">{% bs_icon 'pencil-square' %}</a>
            <a class="btn btn-sm m-1 btn-primary btn-play-audio-document" data-id="{{ audioDocument.id }}"
               href="#">{% bs_icon 'play-circle-fill' %}</a>
            <a class="btn btn-sm m-1 btn-primary btn-pause-audio-document disabled" data-id="{{ audioDocument.id }}"
               href="#">{% bs_icon 'pause-circle-fill' %}</a>
            <a class="btn btn-sm m-1 btn-primary btn-stop-audio-document disabled" data-id="{{ audioDocument.id }}"
               href="#">{% bs_icon 'stop-circle-fill' %}</a>
            <a class="btn btn-sm m-1 btn-outline-danger btn-transcribe-audio-document" data-id="{{ audioDocument.id }}"
               href="/transcribe/{{ audioDocument.id }}/">{% bs_icon 'cpu-fill' %}</a>
            <a class="btn btn-sm m-1 btn-danger btn-delete-audio-document" data-id="{{ audioDocument.id }}"
               href="/delete-audio-document/">{% bs_icon 'trash3' %}</a>
            <audio controls preload="none" id='audio-{{ audioDocument.id }}' class="d-none">
                <source src="{{ audioDocument.get_resource_link }}" type="{{ audioDocument.get_mime_type }}">
            </audio>
        </td>
    </tr>
{% endfor %}
