{% load bootstrap_icons %}
{% for audioDocument in audioDocuments %}
    <tr>
        <th scope="row">{{ audioDocument.id }}</th>
        <td>
            <div class="btn-group btn-group-sm" role="group" aria-label="media">
                <a class="btn btn-success btn-play-audio-document" data-id="{{ audioDocument.id }}"
                   href="#">{% bs_icon 'play-circle-fill' %}</a>
                <a class="btn btn-success btn-pause-audio-document disabled" data-id="{{ audioDocument.id }}"
                   href="#">{% bs_icon 'pause-circle-fill' %}</a>
                <a class="btn btn-success btn-stop-audio-document disabled" data-id="{{ audioDocument.id }}"
                   href="#">{% bs_icon 'stop-circle-fill' %}</a>
            </div>
        </td>
        <td title="{{ audioDocument.original_file_name }}" class="list-document-name">
            {% if audioDocument.has_transcription_done %}<a href="{% url "transcription" audioDocument.id %}">{% endif %}
            {{ audioDocument.get_label }}
            {% if audioDocument.has_transcription_done %}</a>{% endif %}
        </td>
        <td>{{ audioDocument.uploaded_at|date:"d/m/y H:m" }}</td>
        <td>
            <div class="btn-group btn-group-sm" role="group" aria-label="media">
            <a class="btn btn-outline-primary btn-rename-audio-document"
               data-id="{{ audioDocument.id }}" title="Rename"
               href="{% url 'rename-audio-document' %}">{% bs_icon 'pencil-square' %}</a>
            <a class="btn {% if audioDocument.has_transcription %}btn-outline-success{% else %}btn-success{% endif %} btn-transcribe-audio-document{% if audioDocument.has_transcription %} disabled{% endif %}"
               data-id="{{ audioDocument.id }}" title="Transcribe"
               href="{% url 'transcribe' audioDocument.id %}">{% bs_icon 'voicemail' %}</a>
            <a class="btn btn-outline-danger btn-delete-audio-document"
               data-id="{{ audioDocument.id }}" title="Delete"
               href="{% url 'delete-audio-document' %}">{% bs_icon 'trash3' %}</a>
            </div>
            <audio controls preload="none" id='audio-{{ audioDocument.id }}' class="d-none">
                <source src="{{ audioDocument.get_resource_link }}" type="{{ audioDocument.get_mime_type }}">
            </audio>
        </td>
    </tr>
{% endfor %}
